/* ==UserStyle==
@name           Broken screen Rez
@namespace      github.com/openstyles/stylus
@version        0.0.9
@description    Adapt browser viewport for a broken screen
@author         @JuneYourTech
==/UserStyle== */

/* This ruleset is different, because it relies on the address bar sliding away when scrolling down (full-screen window).
   It's important for longer pages that contain lists and articles. Additional domains can be added as and when needed, but must then be excluded via regular expressions in the second ruleset. */
@-moz-document regexp('^(?!chrome://.*).*$'), regexp('(?(err|postimees|delfi)\\.ee).*$'), domain('consent.google.com') {

@media only screen and (max-width:320px) and (orientation:portrait) { HTML {margin-right:80px !important;}  HTML > BODY {padding-bottom:187px !important;} }
}

/* Portrait: This should exclude err and include most other sites, as they are more likely to have stubborn CSS. */
@-moz-document regexp('^(?!(chrome|file)://.*).*$'), regexp('(?!(err|postimees|delfi)\\.ee)') {

@media only screen and (max-width:320px) and (orientation:portrait) { HTML, HTML > BODY {display:block; position:absolute; top:0px; left:0px; bottom:unset; width:240px; max-width:240px !important; height:247px; max-height:247px !important; overflow:auto !important; border-right:dotted 1px maroon;} }
}

/* Landscape: This applies to all domains in a stable manner. */
@-moz-document regexp('^(?!chrome://.*).*$') {

@media only screen and (max-width:480px) and (max-height:320px) and (orientation:landscape) { HTML, HTML > BODY {display:block; position:absolute; top:unset; left:0px; bottom:0px; width:211px; max-width:211px !important; height:247px; max-height:247px !important; overflow:auto !important; border-right:dotted 1px maroon;} }
}
